@model ProfileViewModel
<!--Work experiences-->

<div id="workXp">
    <partial name="_WorkXp" model="Model.Teacher.WorkExperiences" />
</div>
<button class="btn btn-primary mt-4 waves-effect waves-light"
        onclick="showModal('@Url.Action("AddorEditExperience", "WorkExperience", new {teacherId = Model.TeacherId}, Context.Request.Scheme)', 'Add New Experience', 'myModal')">
    <i class="uil uil-plus"> </i>Add Work Experience
</button>

<!--Add or edit work experience modal-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Add Work Experience</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body px-4">

            </div>
        </div>
    </div>
</div>

<!--Delete work experience modal-->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="deleteModalLabel">Delete experience?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body px-4">
                <p>Are you sure you want to delete this job?</p>
            </div>
            <div class="modal-footer">
                <!-- Toogle to second dialog -->
                <button type="button" class="btn btn-danger">Open Second Modal</button>
            </div>
        </div>
    </div>
</div>