@model AddExamViewModel
@{
    ViewBag.Title = "Add Examination";
}

<section class="container-fluid">
    <header class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">@ViewBag.Title</h4>

                @*  <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Basic Elements</li>
                        </ol>
                    </div>*@

            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12 mx-lg-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add an Examination</h4>
                    <hr />

                    <div class="row">
                        <div class="col-lg-11 mx-lg-auto">
                            <div class="mt-4">
                                <form method="post" asp-action="AddExam">
                                    @Html.AntiForgeryToken()
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" asp-for="ExaminationName"></label>
                                                <input type="text" asp-for="ExaminationName" class="form-control w-full" id="formrow-firstname-input" style="max-width: none">
                                                <span class="text-danger" asp-validation-for="ExaminationName"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" asp-for="ExaminationCode"></label>
                                                <input type="text" class="form-control w-full" id="formrow-examcode" asp-for="ExaminationCode" style="max-width: none">
                                                <span class="text-danger" asp-validation-for="ExaminationCode"></span>
                                            </div>
                                        </div>
                                    
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label" asp-for="ExamCategory"></label>
                                                <select class="form-select w-full" id="formrow-category" asp-for="ExamCategory" asp-items="Html.GetEnumSelectList<SchoolCategory>()"
                                                        style="max-width: none">
                                                    <option selected="selected" value="" disabled>Please Select Category</option>
                                                </select>
                                                <span class="text-danger" asp-validation-for="ExamCategory"></span>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<partial name="_ValidationScripts"/>
